#main
{
width: 400px;
height: 200px;
border: 1px solid black;
margin: 200px auto;
border-radius: 100px;
background-color: blue;
transition: all 0.75s;
}
body
{
    background-color: #333;
}
#round
{
    width: 160px;
    height: 160px;
    margin: 20px;
    border-radius: 50%;
    background-color: white;
transition: all 0.75s;

}